*.iml
.gradle
.idea/
.idea/.gitignore
.idea/AndroidProjectSystem.xml
.idea/compiler.xml
.idea/deploymentTargetSelector.xml
.idea/gradle.xml
.idea/misc.xml
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
